.example-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.example-mid-width {
  width: 45%;
  margin-left: 1%;
}
table{
  width: 100%;
}
button{
  margin-left: 10px;
}
.example-form input{
  width: 50%;
}
